.services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin: 80px 170px;
}

.servicesTitle{
    position: relative;
}

.servicesTitle h1{
    padding: 0 30px;
    font-size: 80px;
    font-weight: 600;
}

.servicesTitle img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.servicesFormat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 60px;
    border-radius: 10px;
    border: 2px solid white;
    transition: 0.4s;
    cursor: pointer;
}

.servicesContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 80px;
}

.servicesFormat h3{
    font-size: 28px;
    font-weight: 600;
}

.servicesFormat h2{
    font-size: 39px;
    font-weight: 800;
    background: linear-gradient(270deg, #df8908 50%, #b415ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.servicesFormat p{
    color: #d4d4d4;
    font-size: 24px;
    line-height: 40px;
    max-width: 300px;
}

.servicesReadmore{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
}

.servicesFormat:hover{
    border: 2px solid #ff00ff;
    background-image: linear-gradient(45deg, #3f0028,#582300);
    transform: scale(1.05);
    transition: 0.4s;
}

@media(max-width:768px) and (min-width:481px){
    .services{
        margin: 50px 70px;
    }

    .servicesContainer{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .servicesFormat{
        padding: 40px;
    }
}

@media(max-width:480px){

    .services{
        align-items: start;
        gap: 30px;
        margin: 20px 30px;
    }

    .servicesTitle{
        align-self: center;
    }

    .servicesTitle h1{
        padding: 0;
        font-size: 50px;
    }

    .servicesTitle img{
        width: 130px;
        margin-right: -20px;
    }

    .servicesFormat{
        gap: 20px;
        padding: 32px;
        width: auto
    }

    .servicesFormat h2{
        font-size: 28px;

    }

    .servicesFormat p{
        font-size: 18px;
        line-height: 32px;
        max-width: 300px;
    }

    .servicesReadmore img{
        width: 20px;
    }

    .servicesContainer{
        grid-template-columns: 1fr;
        gap: 30px;
        margin-bottom: 30px;
    }

}