*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
  background: #161513;
  color: white;
  font-family: Outfit;
}

/* Image loading optimization */
img {
  content-visibility: auto;
}

@media(max-width:768px){
  body{
    width: 100vw;
  }
}